{
  "presets": [
    ["env", {"modules": false}], 
    "stage-0", 
    "react"
  ],
  "plugins": [
    ["transform-runtime", {"polyfill": false}],
    ["lodash", { "id": ["lodash", "semantic-ui-react"] }],
    "react-hot-loader/babel"
  ]
}
